/*
 * ���⣺AK��ҳ��������ϵͳ��ҵ��
 * ���ߣ���΢�źţ�
 * �ٷ���ַ�� www.fastcatmall.com
 * *
 * ��ʾ��Ϣ�������Ը���ʹ�ñ�վ��̬�ļ���html/css/js/images�������뱣��ԭ�����ߣ�΢�źţ�����Ϣ��лл��
 */
*{margin:0;padding:0;}
body{margin:0;padding:0;background-attachment:fixed;background-image:url("../image/bg.jpeg");background-size:cover;background-position:center top;font:14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", serif;color:#333;}
h1{font-size:20px}
h2{font-size:16px}
a{color:#EB5F3E;text-decoration:none}
a:hover{text-decoration:underline}
.wrapper{min-height:500px;background-color:#FFFFFF;max-width:750px;margin:0 auto}
.fastcat-page{padding:20px;border-bottom:1px solid #ccc;}
.fastcat-page img{max-width:100%;}
.fastcat-page .title{padding-bottom:20px;}

.fastcat-order{background:none !important;}
.fastcat-title{display:none;}
.fastcat-theme-fastcat .fastcat-input-text{height:16px;line-height:16px;box-shadow:none;}
.rows-head{margin-bottom:0;padding-bottom:0;}
.rows-id-address {padding-top:0;}
.fastcat-params-image{width:25% !important;}
.fastcat-btn:hover{opacity:.8;}
.rows-id-price  .rows-head, .rows-id-quantity  .rows-head, .rows-id-datetime  .rows-head, .rows-id-salenum  .rows-head{float:none;}
#qrcode{background-color:#009AFF;}
.fastcat-footer{border-top:none;background:none;margin-bottom:40px;}
#fastcatComments .title{padding:10px 5px;}
.fastcat-detail-content h2{border-top:none !important;}
.fav-list li{margin:10px !important;}

@media(max-width:600px){


}
